docker-compose.env
docker-compose*.yml
.vscode
Dockerfile
**/Dockerfile

node_modules
**/node_modules
**/build
**/dist
**/.next
**/out
**/.turbo

data/

LICENSE
*.md
**/*.md

.env.*
.github

backup.sql.gz
